body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
    margin: 0;
  }
  
  #app {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  #task-form {
    display: flex;
    margin-bottom: 20px;
  }
  
  #task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid red;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color:red;
    color: black;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    color: red;
    background-color: black;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid red;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  li.completed {
    text-decoration: line-through;
    color: #777;
  }
  
  li button {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  li button:hover {
    color: red;
  }
  